<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Mei</title>
    </head>
    <body>
        <article>
            <div class="grid place-items-center w-screen h-screen bg-zinc-800">
                <slot />
            </div>
        </article>
    </body>
</html>
